<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 Hello world
    .wrap
    img(src=require("images/l1/la1.jpg") width="300" height="200")
    img(src=require("images/l1/las.svg") width="500" height="400")
    img(src=require("images/l1/main-bg.jpg") width="500" height="400")